/* 전체 박스 크기 */
.box {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px 0;
}
/* 환율 계산기(제목) */
.exchange {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 48px;
  display: block;
  text-align: center;
  margin: 0;
}

/* 금액 선택 */
.select {
  display: block;
  margin: 20px auto;
  width: 500px;
  height: 50px;
  text-align: center;
  box-shadow: 10px 10px 5px 5px;
}
/* 현재 금액 */
.total {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}
.total > span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 24px;
}
/* 금액 적는 input */
.box > input {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  display: block;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
