hr {
  margin: 0;
}

/* 전체 박스 */
.box {
  display: flex;
  align-items: center;
  background-color: #00aaff;
  margin: 0 auto;
  border: 5px solid #00aaff;
  padding: 10px 0;
}
/* 홈 */
.homeLink {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  color: #fff;
  width: 420px;
  font-size: 200%;
}
/* 페이지 이동 */
.pageLink {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 20%;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  width: 210px;
}
.pageLink:hover {
  text-decoration: underline;
}
.signLink {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 6px;
}
.signLink:hover {
  text-decoration: underline;
}
.sign {
  display: block;
  text-align: center;
  width: 200px;
}
